@model proset.Models.RoomView
@{
  ViewData["Title"] = $"Room {Model.room_id}";
}

<div class="text-center">
  <h1 class="display-4">Welcome to @(Model.room_id)!</h1>
</div>

<div>
  <p>Hi @(Model.username)!</p>
  <!-- TODO: the game should be here -->
</div>

